USE [master]
GO
/****** Object:  Database [DialectCafe]    Script Date: 9/22/2023 11:46:06 PM ******/
CREATE DATABASE [DialectCafe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DialectCafe', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DialectCafe.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DialectCafe_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DialectCafe_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DialectCafe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DialectCafe]
GO
/****** Object:  Table [dbo].[BitacoraEventos]    Script Date: 9/22/2023 11:46:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BitacoraEventos](
	[idBitacora] [int] IDENTITY(1,1) NOT NULL,
	[userEmail] [varchar](50) NULL,
	[fecha] [datetime] NULL,
	[accion] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[idBitacora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 9/22/2023 11:46:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[idCategoria] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NULL,
	[estado] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Compra]    Script Date: 9/22/2023 11:46:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compra](
	[idCompra] [int] IDENTITY(1,1) NOT NULL,
	[mailUsusario] [varchar](50) NULL,
	[idProveedor] [int] NULL,
	[montoTotal] [decimal](10, 2) NULL,
	[FechaCreacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleCompra]    Script Date: 9/22/2023 11:46:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleCompra](
	[idDetalleCompra] [int] IDENTITY(1,1) NOT NULL,
	[idCompra] [int] NULL,
	[idProducto] [int] NULL,
	[precioCompra] [decimal](10, 2) NULL,
	[precioVenta] [decimal](10, 2) NULL,
	[cantidad] [int] NULL,
	[total] [decimal](10, 2) NULL,
	[FechaCreacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idDetalleCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleVenta]    Script Date: 9/22/2023 11:46:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleVenta](
	[idDetalleVenta] [int] IDENTITY(1,1) NOT NULL,
	[idVenta] [int] NULL,
	[idProducto] [int] NULL,
	[precioVenta] [decimal](10, 2) NULL,
	[cantidad] [int] NULL,
	[subTotal] [decimal](10, 2) NULL,
	[FechaCreacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idDetalleVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Etiqueta]    Script Date: 9/22/2023 11:46:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Etiqueta](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Tag] [nvarchar](255) NOT NULL,
	[descripcion] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Idioma]    Script Date: 9/22/2023 11:46:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Idioma](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NEGOCIO]    Script Date: 9/22/2023 11:46:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NEGOCIO](
	[idNegocio] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[RUC] [varchar](50) NULL,
	[Direccion] [varchar](50) NULL,
	[Logo] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[idNegocio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Perfil]    Script Date: 9/22/2023 11:46:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfil](
	[id_perfil] [nvarchar](50) NOT NULL,
	[FK_PermisoPerfil] [varchar](50) NULL,
 CONSTRAINT [PK__Area__8A8C837BFB92B598] PRIMARY KEY CLUSTERED 
(
	[id_perfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permiso]    Script Date: 9/22/2023 11:46:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permiso](
	[id_Permiso] [varchar](50) NOT NULL,
	[tipo_Permiso] [varchar](50) NULL,
 CONSTRAINT [PK__Permiso__ED14A36FC11B9510] PRIMARY KEY CLUSTERED 
(
	[id_Permiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 9/22/2023 11:46:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[idProducto] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [varchar](50) NULL,
	[nombre] [varchar](50) NULL,
	[descripcion] [varchar](50) NULL,
	[idCategoria] [int] NULL,
	[stock] [int] NOT NULL,
	[precioCompra] [decimal](10, 2) NULL,
	[precioVenta] [decimal](10, 2) NULL,
	[estado] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 9/22/2023 11:46:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[idProveedor] [int] IDENTITY(1,1) NOT NULL,
	[Documento] [varchar](50) NULL,
	[Ubicacion] [varchar](50) NULL,
	[Mail] [varchar](50) NULL,
	[Telefono] [varchar](50) NULL,
	[Estado] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RelacionPermisos]    Script Date: 9/22/2023 11:46:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RelacionPermisos](
	[FK_CodigoPC] [varchar](50) NULL,
	[FK_CodigoPS] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Traduccion]    Script Date: 9/22/2023 11:46:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Traduccion](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IdiomaID] [int] NOT NULL,
	[EtiquetaID] [int] NOT NULL,
	[TextoTraducido] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/22/2023 11:46:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[key_email] [varchar](50) NOT NULL,
	[user_name] [varchar](15) NULL,
	[user_lastname] [nchar](15) NULL,
	[user_password] [varchar](60) NOT NULL,
	[user_blocked] [bit] NULL,
	[user_attempts] [int] NULL,
	[id_perfil] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[key_email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 9/22/2023 11:46:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[idVenta] [int] IDENTITY(1,1) NOT NULL,
	[mailUsuario] [varchar](50) NULL,
	[montoPago] [decimal](10, 2) NULL,
	[montoCambio] [decimal](10, 2) NULL,
	[montoTotal] [decimal](10, 2) NULL,
	[nombreMesero] [varchar](50) NULL,
	[numMesa] [int] NULL,
	[comentariosAdicionales] [varchar](200) NULL,
	[tipoPedido] [varchar](20) NULL,
	[FechaCreacion] [datetime] NULL,
	[FormaPago] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([idCategoria], [descripcion], [estado], [FechaCreacion]) VALUES (1, N'Café', 1, CAST(N'2023-07-18T22:08:42.613' AS DateTime))
INSERT [dbo].[Categoria] ([idCategoria], [descripcion], [estado], [FechaCreacion]) VALUES (2, N'Bebidas Frias', 1, CAST(N'2023-07-18T22:09:02.237' AS DateTime))
INSERT [dbo].[Categoria] ([idCategoria], [descripcion], [estado], [FechaCreacion]) VALUES (3, N'Pastelería', 1, CAST(N'2023-07-18T22:09:14.313' AS DateTime))
SET IDENTITY_INSERT [dbo].[Categoria] OFF
GO
SET IDENTITY_INSERT [dbo].[Etiqueta] ON 

INSERT [dbo].[Etiqueta] ([ID], [Tag], [descripcion]) VALUES (1, N'btnAbrirVentas', N'Gestión de Ventas')
INSERT [dbo].[Etiqueta] ([ID], [Tag], [descripcion]) VALUES (2, N'btnCompras', N'Gestión de Compras')
INSERT [dbo].[Etiqueta] ([ID], [Tag], [descripcion]) VALUES (3, N'btnProductos', N'Gestión de Productos')
SET IDENTITY_INSERT [dbo].[Etiqueta] OFF
GO
SET IDENTITY_INSERT [dbo].[Idioma] ON 

INSERT [dbo].[Idioma] ([ID], [Nombre]) VALUES (3, N'Español')
INSERT [dbo].[Idioma] ([ID], [Nombre]) VALUES (4, N'Ingles')
INSERT [dbo].[Idioma] ([ID], [Nombre]) VALUES (5, N'Frances')
SET IDENTITY_INSERT [dbo].[Idioma] OFF
GO
INSERT [dbo].[NEGOCIO] ([idNegocio], [Nombre], [RUC], [Direccion], [Logo]) VALUES (1, N'Dialect Cafe', N'200302', N'Ministro Brim 2662', NULL)
GO
INSERT [dbo].[Perfil] ([id_perfil], [FK_PermisoPerfil]) VALUES (N'Administrador', N'Administrador')
INSERT [dbo].[Perfil] ([id_perfil], [FK_PermisoPerfil]) VALUES (N'Compras', N'Compras')
INSERT [dbo].[Perfil] ([id_perfil], [FK_PermisoPerfil]) VALUES (N'Gestor de Idiomas', N'Idiomas')
GO
INSERT [dbo].[Permiso] ([id_Permiso], [tipo_Permiso]) VALUES (N'Administrador', N'C')
INSERT [dbo].[Permiso] ([id_Permiso], [tipo_Permiso]) VALUES (N'btnAbrirVentas', N'S')
INSERT [dbo].[Permiso] ([id_Permiso], [tipo_Permiso]) VALUES (N'btnAreas', N'S')
GO
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([idProducto], [codigo], [nombre], [descripcion], [idCategoria], [stock], [precioCompra], [precioVenta], [estado], [FechaCreacion]) VALUES (1, N'123456', N'Café con Leche', N'Delicioso café con leche caliente', 1, 10, CAST(500.00 AS Decimal(10, 2)), CAST(800.00 AS Decimal(10, 2)), 1, CAST(N'2023-07-18T22:14:04.823' AS DateTime))
INSERT [dbo].[Producto] ([idProducto], [codigo], [nombre], [descripcion], [idCategoria], [stock], [precioCompra], [precioVenta], [estado], [FechaCreacion]) VALUES (2, N'234567', N'Medialunas', N'Deliciosas medialunas recién horneadas', 3, 20, CAST(300.00 AS Decimal(10, 2)), CAST(600.00 AS Decimal(10, 2)), 1, CAST(N'2023-07-18T22:15:09.147' AS DateTime))
INSERT [dbo].[Producto] ([idProducto], [codigo], [nombre], [descripcion], [idCategoria], [stock], [precioCompra], [precioVenta], [estado], [FechaCreacion]) VALUES (3, N'345678', N'Jugo de Naranja', N'Refrescante jugo de naranja natural', 2, 15, CAST(400.00 AS Decimal(10, 2)), CAST(800.00 AS Decimal(10, 2)), 1, CAST(N'2023-07-18T22:15:09.147' AS DateTime))
SET IDENTITY_INSERT [dbo].[Producto] OFF
GO
SET IDENTITY_INSERT [dbo].[Proveedor] ON 

INSERT [dbo].[Proveedor] ([idProveedor], [Documento], [Ubicacion], [Mail], [Telefono], [Estado], [FechaCreacion]) VALUES (2, N'44710405', N'Merlo 111', N'cafe@mail.com', N'1128288989', 1, CAST(N'2023-09-09T21:38:55.947' AS DateTime))
INSERT [dbo].[Proveedor] ([idProveedor], [Documento], [Ubicacion], [Mail], [Telefono], [Estado], [FechaCreacion]) VALUES (3, N'33442211', N'asd 123', N'asd@asd.com', N'12332112', 1, CAST(N'2023-09-09T21:48:57.070' AS DateTime))
SET IDENTITY_INSERT [dbo].[Proveedor] OFF
GO
INSERT [dbo].[RelacionPermisos] ([FK_CodigoPC], [FK_CodigoPS]) VALUES (N'Ventas', N'btnAbrirVentas')
INSERT [dbo].[RelacionPermisos] ([FK_CodigoPC], [FK_CodigoPS]) VALUES (N'Idiomas', N'btnIdiomas')
INSERT [dbo].[RelacionPermisos] ([FK_CodigoPC], [FK_CodigoPS]) VALUES (N'Compras', N'btnCompras')
GO
SET IDENTITY_INSERT [dbo].[Traduccion] ON 

INSERT [dbo].[Traduccion] ([ID], [IdiomaID], [EtiquetaID], [TextoTraducido]) VALUES (9, 3, 1, N'Gestionar Ventas')
INSERT [dbo].[Traduccion] ([ID], [IdiomaID], [EtiquetaID], [TextoTraducido]) VALUES (10, 3, 2, N'-----')
INSERT [dbo].[Traduccion] ([ID], [IdiomaID], [EtiquetaID], [TextoTraducido]) VALUES (11, 3, 3, N'Gestión de Productos')
GO
SET IDENTITY_INSERT [dbo].[Traduccion] OFF
GO
INSERT [dbo].[Users] ([key_email], [user_name], [user_lastname], [user_password], [user_blocked], [user_attempts], [id_perfil]) VALUES (N'admin@mail.com', N'Fede', N'Giu            ', N'Admin123.', 0, 0, N'Usuario')
INSERT [dbo].[Users] ([key_email], [user_name], [user_lastname], [user_password], [user_blocked], [user_attempts], [id_perfil]) VALUES (N'amor.guada@gmail.com', N'Guada', N'ALMADA         ', N'$2a$12$r5h/5cycUeTzukNUm0T30uM4g.lPAcTmKb3n.VlyG.ddMMfHIDpEy', 0, 0, N'Usuario')
INSERT [dbo].[Users] ([key_email], [user_name], [user_lastname], [user_password], [user_blocked], [user_attempts], [id_perfil]) VALUES (N'asd@asd.asd', N'A', N'B              ', N'$2a$12$TSBifL882zhPEAbE.hJVt.syc2cKQf4eDsB//Erf.wdZpcaTC1gk2', 0, 0, N'Usuario')
GO
SET IDENTITY_INSERT [dbo].[Venta] ON 

INSERT [dbo].[Venta] ([idVenta], [mailUsuario], [montoPago], [montoCambio], [montoTotal], [nombreMesero], [numMesa], [comentariosAdicionales], [tipoPedido], [FechaCreacion], [FormaPago]) VALUES (2, N'zo@el.com', CAST(1.00 AS Decimal(10, 2)), CAST(1.00 AS Decimal(10, 2)), CAST(1.00 AS Decimal(10, 2)), N'A', 1, N'A', N'Llevar', CAST(N'2023-07-19T17:50:49.520' AS DateTime), N'Efectivo')
INSERT [dbo].[Venta] ([idVenta], [mailUsuario], [montoPago], [montoCambio], [montoTotal], [nombreMesero], [numMesa], [comentariosAdicionales], [tipoPedido], [FechaCreacion], [FormaPago]) VALUES (3, N'zo@el.com', CAST(2000.00 AS Decimal(10, 2)), CAST(550.00 AS Decimal(10, 2)), CAST(1450.00 AS Decimal(10, 2)), N'asdasd', 3, N'asd asd as dasd ', N'Para Comer en Local', CAST(N'2023-07-19T17:59:48.310' AS DateTime), N'Efectivo')
INSERT [dbo].[Venta] ([idVenta], [mailUsuario], [montoPago], [montoCambio], [montoTotal], [nombreMesero], [numMesa], [comentariosAdicionales], [tipoPedido], [FechaCreacion], [FormaPago]) VALUES (4, N'zo@el.com', CAST(0.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), N'Nombre Apellido', 1, N'Comentarios Adicionales', N'Para Llevar', CAST(N'2023-07-19T18:14:44.707' AS DateTime), N'Efectivo')
SET IDENTITY_INSERT [dbo].[Venta] OFF
GO
ALTER TABLE [dbo].[BitacoraEventos] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[BitacoraEventos] ADD  DEFAULT (NULL) FOR [accion]
GO
ALTER TABLE [dbo].[Categoria] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Compra] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[DetalleCompra] ADD  DEFAULT ((0)) FOR [precioCompra]
GO
ALTER TABLE [dbo].[DetalleCompra] ADD  DEFAULT ((0)) FOR [precioVenta]
GO
ALTER TABLE [dbo].[DetalleCompra] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[DetalleVenta] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Producto] ADD  DEFAULT ((0)) FOR [stock]
GO
ALTER TABLE [dbo].[Producto] ADD  DEFAULT ((0)) FOR [precioCompra]
GO
ALTER TABLE [dbo].[Producto] ADD  DEFAULT ((0)) FOR [precioVenta]
GO
ALTER TABLE [dbo].[Producto] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Proveedor] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Venta] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Venta] ADD  DEFAULT ('Efectivo') FOR [FormaPago]
GO
ALTER TABLE [dbo].[BitacoraEventos]  WITH CHECK ADD  CONSTRAINT [FK_Users] FOREIGN KEY([userEmail])
REFERENCES [dbo].[Users] ([key_email])
GO
ALTER TABLE [dbo].[BitacoraEventos] CHECK CONSTRAINT [FK_Users]
GO
ALTER TABLE [dbo].[Compra]  WITH CHECK ADD FOREIGN KEY([idProveedor])
REFERENCES [dbo].[Proveedor] ([idProveedor])
GO
ALTER TABLE [dbo].[Compra]  WITH CHECK ADD  CONSTRAINT [FK__Compra__mailUsus__2BFE89A6] FOREIGN KEY([mailUsusario])
REFERENCES [dbo].[Users] ([key_email])
GO
ALTER TABLE [dbo].[Compra] CHECK CONSTRAINT [FK__Compra__mailUsus__2BFE89A6]
GO
ALTER TABLE [dbo].[DetalleCompra]  WITH CHECK ADD FOREIGN KEY([idCompra])
REFERENCES [dbo].[Compra] ([idCompra])
GO
ALTER TABLE [dbo].[DetalleCompra]  WITH CHECK ADD FOREIGN KEY([idProducto])
REFERENCES [dbo].[Producto] ([idProducto])
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD FOREIGN KEY([idProducto])
REFERENCES [dbo].[Producto] ([idProducto])
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD FOREIGN KEY([idVenta])
REFERENCES [dbo].[Venta] ([idVenta])
GO
ALTER TABLE [dbo].[Perfil]  WITH CHECK ADD  CONSTRAINT [FK__Perfil__FK_Permi__73852659] FOREIGN KEY([FK_PermisoPerfil])
REFERENCES [dbo].[Permiso] ([id_Permiso])
GO
ALTER TABLE [dbo].[Perfil] CHECK CONSTRAINT [FK__Perfil__FK_Permi__73852659]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD FOREIGN KEY([idCategoria])
REFERENCES [dbo].[Categoria] ([idCategoria])
GO
ALTER TABLE [dbo].[RelacionPermisos]  WITH CHECK ADD  CONSTRAINT [FK__RelacionP__FK_Co__6442E2C9] FOREIGN KEY([FK_CodigoPC])
REFERENCES [dbo].[Permiso] ([id_Permiso])
GO
ALTER TABLE [dbo].[RelacionPermisos] CHECK CONSTRAINT [FK__RelacionP__FK_Co__6442E2C9]
GO
ALTER TABLE [dbo].[RelacionPermisos]  WITH CHECK ADD  CONSTRAINT [FK__RelacionP__FK_Co__65370702] FOREIGN KEY([FK_CodigoPS])
REFERENCES [dbo].[Permiso] ([id_Permiso])
GO
ALTER TABLE [dbo].[RelacionPermisos] CHECK CONSTRAINT [FK__RelacionP__FK_Co__65370702]
GO
ALTER TABLE [dbo].[Traduccion]  WITH CHECK ADD FOREIGN KEY([EtiquetaID])
REFERENCES [dbo].[Etiqueta] ([ID])
GO
ALTER TABLE [dbo].[Traduccion]  WITH CHECK ADD FOREIGN KEY([IdiomaID])
REFERENCES [dbo].[Idioma] ([ID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_User_Area] FOREIGN KEY([id_perfil])
REFERENCES [dbo].[Perfil] ([id_perfil])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_User_Area]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [FK__Venta__mailUsuar__3A4CA8FD] FOREIGN KEY([mailUsuario])
REFERENCES [dbo].[Users] ([key_email])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [FK__Venta__mailUsuar__3A4CA8FD]
GO
/****** Object:  StoredProcedure [dbo].[SP_AgregarEtiquetaConTraducciones]    Script Date: 9/22/2023 11:46:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AgregarEtiquetaConTraducciones]
    @Tag NVARCHAR(255),
    @Descripcion NVARCHAR(255)
AS
BEGIN
    -- Agregar la nueva etiqueta
    DECLARE @EtiquetaID INT;
    INSERT INTO Etiqueta (Tag, Descripcion)
    VALUES (@Tag, @Descripcion);
    SET @EtiquetaID = SCOPE_IDENTITY();

    -- Obtener la lista de idiomas existentes
    DECLARE @IdiomaID INT;
    DECLARE idioma_cursor CURSOR FOR
    SELECT Id FROM Idioma;

    -- Para cada idioma, insertar una traducción inicial
    OPEN idioma_cursor;
    FETCH NEXT FROM idioma_cursor INTO @IdiomaID;
    WHILE @@FETCH_STATUS = 0
    BEGIN
        INSERT INTO Traduccion (IdiomaID, EtiquetaID, TextoTraducido)
        VALUES (@IdiomaID, @EtiquetaID, '-----');
        FETCH NEXT FROM idioma_cursor INTO @IdiomaID;
    END;
    CLOSE idioma_cursor;
    DEALLOCATE idioma_cursor;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_EditarTraduccion]    Script Date: 9/22/2023 11:46:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_EditarTraduccion]
    @IdiomaID INT,
    @EtiquetaID INT,
    @NuevoTexto NVARCHAR(MAX)
AS
BEGIN
    -- Actualizar el texto traducido
    UPDATE Traduccion
    SET TextoTraducido = @NuevoTexto
    WHERE IdiomaID = @IdiomaID AND EtiquetaID = @EtiquetaID;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarCategoria]    Script Date: 9/22/2023 11:46:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Eliminar Categoria
CREATE PROC [dbo].[SP_EliminarCategoria](
@idCategoria int,
@resultado bit output,
@mensaje varchar(500) output
)as
begin 
	SET @resultado = 1
	IF NOT EXISTS (select * from Categoria C inner join Producto P on p.idCategoria = C.idCategoria where C.idCategoria = @idCategoria)
	begin
		delete top(1) from Categoria where idCategoria = @idCategoria
	end
	ELSE
	begin
		SET @resultado = 0
		SET @mensaje = 'No se puede eliminar una categoría con productos asociados'
	end
end

GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarEtiquetaYTraducciones]    Script Date: 9/22/2023 11:46:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_EliminarEtiquetaYTraducciones]
    @Tag NVARCHAR(255)
AS
BEGIN
    DECLARE @EtiquetaID INT;

    -- Encontrar el ID de la etiqueta a eliminar
    SELECT @EtiquetaID = ID
    FROM Etiqueta
    WHERE Tag = @Tag;

    IF @EtiquetaID IS NOT NULL
    BEGIN
        -- Eliminar todas las traducciones asociadas a la etiqueta
        DELETE FROM Traduccion
        WHERE EtiquetaID = @EtiquetaID;

        -- Eliminar la etiqueta
        DELETE FROM Etiqueta
        WHERE ID = @EtiquetaID;
    END;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarIdioma]    Script Date: 9/22/2023 11:46:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Eliminar Categoria
CREATE PROC [dbo].[SP_EliminarIdioma](
@IdiomaID int
)as
begin 
	-- Eliminar traducciones del idioma
    DELETE FROM Traduccion WHERE IdiomaID = @IdiomaID;

    -- Eliminar el idioma
    DELETE FROM Idioma WHERE ID = @IdiomaID;
end

GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarProducto]    Script Date: 9/22/2023 11:46:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Eliminar Categoria
CREATE PROC [dbo].[SP_EliminarProducto](
@idProducto int
)as
begin 
	declare @posible bit = 1
	IF NOT EXISTS (SELECT * FROM Producto where idProducto = @idProducto)
	begin 
		set @posible = 0
	end

	IF EXISTS (SELECT * FROM DetalleCompra DC INNER JOIN Producto P ON P.idProducto = DC.idProducto WHERE P.idProducto = @idProducto)
	begin 
		set @posible = 0
	end

	IF EXISTS(SELECT * FROM DetalleVenta DV INNER JOIN Producto P ON P.idProducto = DV.idProducto WHERE P.idProducto = @idProducto)
	begin 
		set @posible = 0
	end

	IF(@posible = 1)
	begin
		delete from Producto where idProducto = @idProducto
	end
end

GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarProveedor]    Script Date: 9/22/2023 11:46:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Eliminar Categoria
CREATE PROC [dbo].[SP_EliminarProveedor](
@idProveedor int
)as
begin 
	declare @posible bit = 1
	IF NOT EXISTS (SELECT * FROM Proveedor where idProveedor = @idProveedor)
	begin 
		set @posible = 0
	end

	IF EXISTS (SELECT * FROM Proveedor P INNER JOIN Compra C ON P.idProveedor = C.idProveedor WHERE P.idProveedor = @idProveedor)
	begin 
		set @posible = 0
	end

	IF(@posible = 1)
	begin
		delete from Proveedor where idProveedor = @idProveedor
	end
end

GO
/****** Object:  StoredProcedure [dbo].[SP_GuardarCategoria]    Script Date: 9/22/2023 11:46:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GuardarCategoria](
@descripcion varchar(50),
@estado bit,
@resultado int output,
@mensaje varchar(500) output
)as
begin
	SET @resultado = 0
	IF NOT EXISTS (select * from Categoria where descripcion = @descripcion)
	begin 
		insert into Categoria(descripcion, estado) values (@descripcion, @estado)
		set @resultado = SCOPE_IDENTITY()
	end
	ELSE
		set @mensaje = 'No se puede guardar una categoría con la descripcion repetida'
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GuardarIdiomaConTraducciones]    Script Date: 9/22/2023 11:46:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* ------ PROCEDIMIENTOS ALMACENADOS IDIOMAS -------- */

--Guardar Producto

CREATE PROCEDURE [dbo].[SP_GuardarIdiomaConTraducciones]
    @Nombre varchar(50),
    @TextoInicial NVARCHAR(MAX)
AS
BEGIN
    DECLARE @IdiomaID INT;

    -- Verificar si el idioma ya existe
    SELECT @IdiomaID = Id
    FROM Idioma
    WHERE Nombre = @Nombre;

    IF @IdiomaID IS NULL
    BEGIN
        -- Insertar el nuevo idioma
        INSERT INTO Idioma (Nombre)
        VALUES (@Nombre);

        -- Obtener el ID del nuevo idioma
        SET @IdiomaID = SCOPE_IDENTITY();
    END;

    -- Insertar traducciones para todas las etiquetas existentes
    INSERT INTO Traduccion (IdiomaID, EtiquetaID, TextoTraducido)
    SELECT @IdiomaID, ID, @TextoInicial
    FROM Etiqueta;

    -- Resto del código del procedimiento, si es necesario.
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GuardarProducto]    Script Date: 9/22/2023 11:46:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* ------ PROCEDIMIENTOS ALMACENADOS PRODUCTOS -------- */

--Guardar Producto

CREATE PROC [dbo].[SP_GuardarProducto](
@codigo varchar(50),
@nombre varchar(50),
@descripcion varchar(50),
@idCategoria int,
@stock int,
@precioCompra decimal(10,2),
@precioVenta decimal(10,2),
@estado bit
)as
begin
	IF NOT EXISTS (select * from Producto where codigo = @codigo)
	begin 
		insert into Producto(codigo, nombre, descripcion, idCategoria, stock, precioCompra, precioVenta, estado) 
		values (@codigo,@nombre, @descripcion, @idCategoria, @stock, @precioCompra, @precioVenta, @estado)
	end
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GuardarProveedor]    Script Date: 9/22/2023 11:46:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* ------ PROCEDIMIENTOS ALMACENADOS PROVEEDORES -------- */

--Guardar Producto

CREATE PROC [dbo].[SP_GuardarProveedor](
@Documento varchar(50),
@Ubicacion varchar(50),
@Mail varchar(50),
@Telefono varchar(50),
@estado bit
)as
begin
	IF NOT EXISTS (select * from Proveedor where Documento = @Documento)
	begin 
		insert into Proveedor(Documento, Ubicacion, Mail, Telefono, estado) 
		values (@Documento, @Ubicacion, @Mail, @Telefono, @estado)
	end
end
GO
/****** Object:  StoredProcedure [dbo].[SP_ModificarCategoria]    Script Date: 9/22/2023 11:46:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Modificar Categoria
CREATE PROC [dbo].[SP_ModificarCategoria](
@idCategoria int,
@descripcion varchar(50),
@estado bit,
@resultado bit output,
@mensaje varchar(500) output
)as
begin 
	SET @resultado = 1
	IF EXISTS (select * from Categoria where descripcion = @descripcion and idCategoria = @idCategoria)
	begin
		update Categoria set descripcion = @descripcion, estado = @estado where idCategoria = @idCategoria
	end
	ELSE
	begin
		SET @resultado = 0
		SET @mensaje = 'No se puede modificar una categoría con la descripcion repetida'
	end
end
GO
/****** Object:  StoredProcedure [dbo].[SP_ModificarProducto]    Script Date: 9/22/2023 11:46:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Modificar Categoria
CREATE PROC [dbo].[SP_ModificarProducto](
@idProducto int,
@codigo varchar(50),
@nombre varchar(50),
@descripcion varchar(50),
@idCategoria int,
@stock int,
@precioCompra decimal(10,2),
@precioVenta decimal(10,2),
@estado bit
)as
begin 
	IF EXISTS (select * from Producto where codigo = @codigo and idProducto = @idProducto)
	begin
		update Producto set 
		codigo = @codigo,
		nombre = @nombre,
		descripcion = @descripcion,
		idCategoria = @idCategoria,
		stock = @stock,
		precioCompra = @precioCompra,
		precioVenta = @precioVenta,
		estado = @estado
		where idCategoria = @idCategoria
	end
end

GO
/****** Object:  StoredProcedure [dbo].[SP_ModificarProveedor]    Script Date: 9/22/2023 11:46:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Modificar Categoria
CREATE PROC [dbo].[SP_ModificarProveedor](
@idProveedor int,
@Documento varchar(50),
@Ubicacion varchar(50),
@Mail varchar(50),
@Telefono varchar(50),
@Estado bit
)as
begin 
	IF EXISTS (select * from Proveedor where Documento = @Documento and idProveedor = @idProveedor)
	begin
		update Proveedor set 
		Documento = @Documento, Ubicacion = @Ubicacion, Mail = @Mail, Telefono = @Telefono, Estado = @estado
		where idProveedor = @idProveedor
	end
end

GO
USE [master]
GO
